body {
    margin: 0;
    padding: 0;
    font-family: 'Hind', sans-serif;
    background-image: url(img/bg.jpg);
}

.container {
    max-width: 1170px;
    margin: auto;
}

.photo {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.photo img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid #C6C4C9;
}

.photo h1 {
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: -15px;
    color: #ccc;   
}

.my-projects p {
    color: #fff;
    font-size: 18px;
    margin: 10px 0px;
}

.my-projects h2 {
    text-align: center;
    margin: 70px 0;
    color: #ccc;
}

.my-projects img {
    width: 300px;
    height: 358px;
    object-fit: cover;
    object-position: top;
}

.my-projects__projects-common {
    display: flex;
}

.my-projects__projects-text {
    margin-left: 70px;
}

.my-projects__projects-text h3 {
    margin-top: 45px;
    color: #fff;
}

.my-projects__link {
    display: flex;
}

.my-projects__projects-common a {
    display: block;
    margin-right: 80px;
    color: #fff;
    margin-top: 5px;
    text-decoration: none;
    font-size: 18px;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
}

.my-projects__projects-common a:hover {
   border: none;
   color: #02CFEA;
   
}



